nav {
  background: hsl(209, 23%, 22%);
  margin: 0;
  padding: 0;
  color: white;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: auto 70px;
}

ul li {
  padding:20px ;
  display: inline;
}

ul li a{
  text-decoration: none;
  color: white;
}
.logo a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  
}